#DEBUG
CONFIG_SND_DEBUG=y
CONFIG_SND_PCM_XRUN_DEBUG=y
CONFIG_UPROBE_EVENTS=y
CONFIG_LOG_BUF_SHIFT=21

#CLUBB Drivers
CONFIG_USB_CYPRESS_FX3_BOOT=m
CONFIG_USB_CLUBB=m
CONFIG_I2C_CLUBB=m
CONFIG_I2S_CLUBB=m
CONFIG_GPIO_CLUBB=m
CONFIG_SPI_CLUBB=m

# Common
CONFIG_SND=y
CONFIG_SND_SOC=y
CONFIG_EXTCON=y
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y

# Demo Platforms
CONFIG_SND_SOC_CLUBB_SOUNDCARD=m
# CONFIG_SND_SOC_CLUBB_SIMPLE_SOUNDCARD is not se

# CLSIC
CONFIG_MFD_TACNA_SPI=m
CONFIG_SND_SOC_CIRRUS_TACNA=m
CONFIG_MFD_CLSIC_SPI=m
CONFIG_PINCTRL_TACNA=y
CONFIG_GPIO_TACNA=m
CONFIG_SND_SOC_CLSIC_CODEC=m
CONFIG_SND_SOC_CLSIC_ALGORITHM=m
# CONFIG_SND_SOC_CLSIC_VOX is not set

# cs35l41
CONFIG_MFD_CS35L41=y
CONFIG_MFD_CS35L41_I2C=y
CONFIG_SND_SOC_CS35L41=y
CONFIG_SND_SOC_CS35L41_I2C=y
CONFIG_SND_SOC_CS35L41_SPI=y
CONFIG_SND_SOC_PSIA=m

# wm8998
CONFIG_SND_SOC_ARIZONA=m
CONFIG_MFD_ARIZONA_I2C=m
CONFIG_REGULATOR_ARIZONA_MICSUPP=m
CONFIG_REGULATOR_ARIZONA_LDO1=y
CONFIG_GPIO_ARIZONA=m
CONFIG_MFD_WM8998=y
CONFIG_INPUT_ARIZONA_HAPTICS=m
CONFIG_EXTCON_ARIZONA=m
