// Definitions for Quartet Soundcard - Simplified implementation
// Please refer to https://www.raspberrypi.org/documentation/configuration/device-tree.md
/dts-v1/;
/plugin/;
#include <dt-bindings/pinctrl/bcm2835.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/mfd/arizona.h>

/{
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&soc>;
		__overlay__ {
			clubb_usb: clubb_usb {
				compatible = "cirrus,clubb";
				status = "okay";
			};
		};
	};

	fragment@1 {
		target = <&soc>;
		__overlay__ {
			clubb_i2s: clubb_i2s {
				#sound-dai-cells = <1>;
				compatible = "cirrus,clubb-i2s";
				status = "okay";
			};
		};
	};

	fragment@2 {
		target = <&clubb_usb>;
		__overlay__ {
			
			clubb_spi: clubb_spi {
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
				
				compatible = "cirrus,clubb-spi";

				cs48lv41: cs48lv41@0 {
					#sound-dai-cells = <1>;
					spi-max-frequency = <12500000>;
					spi-pad-bits = <32>;
					compatible = "cirrus,clsic";
					reg = <0>;
					status = "okay";

					interrupts = <0 8>;
					interrupt-controller;
					#interrupt-cells = <2>;
					interrupt-parent = <&clubb_gpio>;

					gpio-controller;
					#gpio-cells = <2>;

					VDD_A-supply   =  <&regulator_dummy_1v8>;
					VDD_IO1-supply =  <&regulator_dummy_1v8>;
					VDD_D-supply   =  <&regulator_dummy_0v9>;

					reset-gpio = <&clubb_gpio 3 GPIO_ACTIVE_HIGH>;

					volatile_memory;

					pinctrl-names = "default";
					pinctrl-0 = <&cs48lv41_defaults>;
					cs48lv40_pinctrl: tacna-pinctrl {
						compatible = "cirrus,tacna-pinctrl";

						cs48lv41_defaults: defaults {
							asp1 {
								groups = "asp1";
								function = "asp1";
								bias-bus-hold;
							};
							asp2 {
								groups = "asp2";
								function = "asp2";
								bias-bus-hold;
							};
							asp3 {
								groups = "asp3";
								function = "asp3";
								bias-bus-hold;
							};
							asp4 {
								groups = "asp4";
								function = "asp4";
								bias-bus-hold;
							};
							in1-pdm {
								groups = "in1-pdm";
								function ="in1-pdm";
								bias-bus-hold;
							};
							in2-pdm {
								groups = "in2-pdm";
								function ="in2-pdm";
								bias-bus-hold;
							};
							in3-pdm {
								groups = "in3-pdm";
								function ="in3-pdm";
								bias-bus-hold;
							};
							in4-pdm {
								groups = "in4-pdm";
								function ="in4-pdm";
								bias-bus-hold;
							};
						};
					};

					MICBIAS1A {
						regulator-active-discharge = <1>;
					};

					MICBIAS1B {
						regulator-active-discharge = <1>;
					};

					MICBIAS1C {
						regulator-active-discharge = <1>;
					};

					MICBIAS1D {
						regulator-active-discharge = <1>;
					};

					cs48lv41_alg: cs48lv41_alg@0 {
						compatible = "cirrus,clsic-alg";
						#sound-dai-cells = <1>;
						cirrus,service-type = <0x4C41>;
					};
				};
			};
		};
	};

	fragment@3 {
		target = <&clubb_usb>;
		__overlay__ {
			status = "okay";
			
			clubb_i2c: clubb_i2c {
				compatible = "cirrus,clubb-i2c";
				#address-cells = <1>;
				#size-cells = <0>;
				status = "okay";
			
				clock-frequency = <100000>;

				left_amp: cs35l41@40{
					#sound-dai-cells = <1>;
					compatible = "cirrus,cs35l41";
					reg = <0x40>; 
					#interrupt-cells = <2>;
					interrupts = <1 8>;
					interrupt-controller;
					interrupt-parent = <&clubb_gpio>;
					VA-supply = <&regulator_dummy_1v8>;
					VP-supply = <&regulator_dummy_5v>;

					cirrus,boost-peak-milliamp = <4500>;
					cirrus,boost-ind-nanohenry = <1000>;
					cirrus,boost-cap-microfarad = <15>;

					gpio-controller;
					#gpio-cells = <2>;

					reset-gpio = <&clubb_gpio 2 GPIO_ACTIVE_HIGH>;
					cirrus,gpio-config1 {
						cirrus,gpio-src-select = <0x2>;
					};
					cirrus,gpio-config2 {
						cirrus,gpio-src-select = <0x4>;
						cirrus,gpio-output-enable;
					};
				};

				right_amp: cs35l41@41{
					#sound-dai-cells = <1>;
					compatible = "cirrus,cs35l41";
					reg = <0x41>;
					#interrupt-cells = <2>;
					interrupts = <3 8>;
					interrupt-controller;
					interrupt-parent = <&clubb_gpio>;
					VA-supply = <&regulator_dummy_1v8>;
					VP-supply = <&regulator_dummy_5v>;

					cirrus,boost-peak-milliamp = <4500>;
					cirrus,boost-ind-nanohenry = <1000>;
					cirrus,boost-cap-microfarad = <15>;

					gpio-controller;
					#gpio-cells = <2>;

					reset-gpio = <&clubb_gpio 2 GPIO_ACTIVE_HIGH>;
					cirrus,right-channel-amp;
					cirrus,gpio-config1 {
						cirrus,gpio-src-select = <0x2>;
					};
					cirrus,gpio-config2 {
						cirrus,gpio-src-select = <0x4>;
						cirrus,gpio-output-enable;
					};
				};
				/*
				wm8998: wm8998@1a {
					#sound-dai-cells = <1>;
					compatible = "wlf,wm8998";
					reg = <0x1a>;
					status = "okay";

					interrupts = <6 8>;
					interrupt-controller;
					#interrupt-cells = <2>;
					interrupt-parent = <&gpio>;

					gpio-controller;
					#gpio-cells = <2>;

					clocks = <&mclk1 &mclk2>;
					clock-names = "mclk1", "mclk2";

					wlf,ldoena = <&clubb_gpio 0 GPIO_ACTIVE_HIGH>;
					wlf,reset  = <&clubb_gpio 1 GPIO_ACTIVE_HIGH>;

					CPVDD-supply = <&regulator_dummy_1v8>;
					AVDD-supply = <&regulator_dummy_1v8>;
					DBVDD1-supply = <&regulator_dummy_1v8>;
					DBVDD2-supply = <&regulator_dummy_1v8>;
					DBVDD3-supply = <&regulator_dummy_1v8>;
					SPKVDDL-supply = <&regulator_dummy_5v>;
					SPKVDDR-supply = <&regulator_dummy_5v>;

					wlf,jd-invert = <1>;
					wlf,inmode   = <0 0 1 0>;
					wlf,dmic-ref = <0 0 0 0>;

					wlf,gpio-defaults = <
						ARIZONA_GP_DEFAULT
						ARIZONA_GP_DEFAULT
						ARIZONA_GP_DEFAULT
						ARIZONA_GP_DEFAULT
						ARIZONA_GP_DEFAULT
					>;

					ldo1 {
						regulator-name = "LDO1";
						// default constraints as in
						// arizona-ldo1.c
						regulator-min-microvolt = <1200000>;
						regulator-max-microvolt = <1800000>;
					};
				};
*/
			};
		};
	};

	fragment@4 {
		target = <&soc>;
		__overlay__ {
			regulator_dummy_0v9: regulator_dummy_0v9 {
				compatible = "regulator-fixed";
				regulator-name = "CDC_VDD_0.9V";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;
				regulator-boot-on;
				regulator-always-on;
			};
			regulator_dummy_1v8: regulator_dummy_1v8 {
				compatible = "regulator-fixed";
				regulator-name = "CDC_VDD_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-boot-on;
				regulator-always-on;
			};
			regulator_dummy_5v: regulator_dummy_5v {
				compatible = "regulator-fixed";
				regulator-name = "CDC_VDD_5V";
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5000000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};

	fragment@5 {
		target = <&clubb_usb>;
		__overlay__ {
			clubb_gpio: clubb_gpio {
				compatible = "cirrus,clubb-gpio";
				status = "okay";
				
				gpio-controller;
				#gpio-cells = <2>;
				
				interrupt-controller;
				#interrupt-cells = <2>;
			};
		};
	};

	fragment@6 {
		target = <&clocks>;
		__overlay__ {
			mclk1: mclk1 {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <24576000>;
			};

			mclk2: mclk2 {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <32768>;
			};
		};
	};
	
        fragment@7 {
                target = <&sound>;
                __overlay__ {
                        compatible = "cirrus,clubb-soundcard";
                        i2s-controller = <&clubb_i2s>;
                        status = "okay";
                };
        };

};
