[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Linux Kernel Source
[access "refs/*"]
	owner = group user/Lucas Tanure (lucastanure)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lucas Tanure (lucastanure)
	label-Verified = -1..+1 group user/Lucas Tanure (lucastanure)
	push = group user/Lucas Tanure (lucastanure)
	read = group user/Lucas Tanure (lucastanure)
	rebase = group user/Lucas Tanure (lucastanure)
	removeReviewer = group user/Lucas Tanure (lucastanure)
	submit = group user/Lucas Tanure (lucastanure)
	create = group user/Lucas Tanure (lucastanure)
	submitAs = group user/Lucas Tanure (lucastanure)
[access "refs/heads/*"]
	create = group user/Lucas Tanure (lucastanure)
	push = +force group user/Lucas Tanure (lucastanure)
	pushMerge = group user/Lucas Tanure (lucastanure)
	read = group user/Lucas Tanure (lucastanure)
[access "refs/tags/*"]
	push = group user/Lucas Tanure (lucastanure)
	push = +force group user/Lucas Tanure (lucastanure)
