#
# Kconfig for the CLUBB device family
#
config USB_CLUBB
	tristate "Cirrus Logic USB Bus Bridge support"
	---help---
	  This driver creates SPI / I2S / I2C interfaces over
	  usb.

	  To compile this driver as a module, choose M here: the
	  module will be called core-clubb.

config I2C_CLUBB
	tristate "Cirrus Logics USB I2C bridge"
	help
	  This driver creates I2C interfaces over usb.

	  If you don't know what to do here, say N.

	  This support is also available as a module. If so, the module
	  will be called i2c-clubb.

config I2S_CLUBB
	tristate "Cirrus Logic USB Bus Bridge support"
	---help---
	  This driver creates I2S interfaces over usb.

	  To compile this driver as a module, choose M here: the
	  module will be called i2s-clubb.